body {
  font-family: "Montserrat";
  text-align: center;
  background-image: url('images/background.png');
  background-attachment: fixed;
  background-size: cover;
}
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
  }
  
 
  /* Headings */
  
  .big-heading {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
  }
  
  .section-heading {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .navbar-brand {
    text-align: center;
    padding-left: 40%;

  }

  /* Containers */
  
  .container-fluid{
    padding: 7% 15%;
  }

  
  /* Sections */
  
  .colored-section {
    color: #000000;
  }
  


  /* Navigation Bar */
  
  .navbar {
    padding: 0 0 2.5rem;
    background-image: url('images/barracuda.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    border-radius: 20px;
  }
  
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
  }
  
/* Features Section */

#information {
  position: relative;
}



  /* Buttons */
  

  
  /* Title Section */
  
  #title {
    color: #fff;
    text-align: left;
  }
  
  #title .container-fluid {
    padding: 3% 15% 7%;
  }
  
  .commandBar {
    background-color: #4169E1; /* White background color */
    color: #000; /* Text color (black) */
    text-align: center;
    padding: 20px 0; /* Adjust padding as needed */
    font-size: 20px; /* Adjust font size as needed */
    font-weight: bold;
  }

  .space {
    height: 50px; /* Adjust the height as needed */
  }
  
  
  .icon {
    color: #ef8172;
    margin-bottom: 1rem;
  }
  
  .icon:hover {
    color: #ff4c68;
  }
  

  
  
  #press {
    background-color: #ef8172;
    padding-bottom: 3%;
  }
  
  .press-logo {
    width: 15%;
    margin: 20px 20px 50px;
  }
  
  /* Middle Section */
  
  .carousel-section {
    padding: 100px;
  }

  
  .price-text {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .pricing-column {
    padding: 3% 2%;
  }

  #footer {
    background-color: #DAF0F7;
    padding: 3% 7%;
  }
  
 
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.7); /* Background color with some transparency */
    color: #fff; /* Caption text color */
    padding: 10px; /* Padding around the caption content */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.5s ease;
  }
  
  .fade-out {
    opacity: 0; 
  }

  .fade-in {
    opacity: 1; 
  }

  .carousel-caption h5 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .carousel-caption p {
    font-size: 18px;
  }

/* Changes the size of the carousel's image */
  .carousel img {
    max-width: 50%; /* Adjust the image size as needed */
    height: auto;
    margin: 0 auto; /* Center the images horizontally within the carousel */
  }

  @media (max-width: 1028px) {
    #title {
      text-align: center;
    }
  }

  .separator {
    text-align: center;
    padding: 20px 0;
    background-color: #f2f2f2;
  }
  
  .separator p {
    margin: 0;
  }